voices/bf_alice.pt filter=lfs diff=lfs merge=lfs -text
voices/bm_daniel.pt filter=lfs diff=lfs merge=lfs -text
voices/em_santa.pt filter=lfs diff=lfs merge=lfs -text
model/config.json filter=lfs diff=lfs merge=lfs -text
voices/af_alloy.pt filter=lfs diff=lfs merge=lfs -text
voices/af_aoede.pt filter=lfs diff=lfs merge=lfs -text
voices/af_heart.pt filter=lfs diff=lfs merge=lfs -text
voices/af_nicole.pt filter=lfs diff=lfs merge=lfs -text
voices/am_liam.pt filter=lfs diff=lfs merge=lfs -text
voices/am_puck.pt filter=lfs diff=lfs merge=lfs -text
voices/bf_emma.pt filter=lfs diff=lfs merge=lfs -text
voices/hm_omega.pt filter=lfs diff=lfs merge=lfs -text
voices/if_sara.pt filter=lfs diff=lfs merge=lfs -text
voices/jf_gongitsune.pt filter=lfs diff=lfs merge=lfs -text
voices/pf_dora.pt filter=lfs diff=lfs merge=lfs -text
voices/zm_yunxi.pt filter=lfs diff=lfs merge=lfs -text
voices/af_bella.pt filter=lfs diff=lfs merge=lfs -text
voices/af_sarah.pt filter=lfs diff=lfs merge=lfs -text
voices/bf_isabella.pt filter=lfs diff=lfs merge=lfs -text
voices/em_alex.pt filter=lfs diff=lfs merge=lfs -text
voices/hm_psi.pt filter=lfs diff=lfs merge=lfs -text
voices/jf_alpha.pt filter=lfs diff=lfs merge=lfs -text
voices/jf_nezumi.pt filter=lfs diff=lfs merge=lfs -text
voices/pm_alex.pt filter=lfs diff=lfs merge=lfs -text
voices/am_fenrir.pt filter=lfs diff=lfs merge=lfs -text
voices/am_michael.pt filter=lfs diff=lfs merge=lfs -text
voices/ff_siwis.pt filter=lfs diff=lfs merge=lfs -text
voices/hf_alpha.pt filter=lfs diff=lfs merge=lfs -text
voices/hf_beta.pt filter=lfs diff=lfs merge=lfs -text
voices/jf_tebukuro.pt filter=lfs diff=lfs merge=lfs -text
voices/pm_santa.pt filter=lfs diff=lfs merge=lfs -text
voices/zf_xiaoni.pt filter=lfs diff=lfs merge=lfs -text
model/kokoro-v1_0.pth filter=lfs diff=lfs merge=lfs -text
voices/am_santa.pt filter=lfs diff=lfs merge=lfs -text
voices/zf_xiaoxiao.pt filter=lfs diff=lfs merge=lfs -text
voices/zm_yunjian.pt filter=lfs diff=lfs merge=lfs -text
voices/zm_yunxia.pt filter=lfs diff=lfs merge=lfs -text
voices/zm_yunyang.pt filter=lfs diff=lfs merge=lfs -text
voices/af_jessica.pt filter=lfs diff=lfs merge=lfs -text
voices/af_nova.pt filter=lfs diff=lfs merge=lfs -text
voices/af_river.pt filter=lfs diff=lfs merge=lfs -text
voices/am_onyx.pt filter=lfs diff=lfs merge=lfs -text
voices/bm_george.pt filter=lfs diff=lfs merge=lfs -text
voices/bm_lewis.pt filter=lfs diff=lfs merge=lfs -text
voices/ef_dora.pt filter=lfs diff=lfs merge=lfs -text
voices/im_nicola.pt filter=lfs diff=lfs merge=lfs -text
voices/af_sky.pt filter=lfs diff=lfs merge=lfs -text
voices/bf_lily.pt filter=lfs diff=lfs merge=lfs -text
voices/jm_kumo.pt filter=lfs diff=lfs merge=lfs -text
voices/zf_xiaobei.pt filter=lfs diff=lfs merge=lfs -text
voices/zf_xiaoyi.pt filter=lfs diff=lfs merge=lfs -text
voices/bm_fable.pt filter=lfs diff=lfs merge=lfs -text
voices/af_kore.pt filter=lfs diff=lfs merge=lfs -text
voices/am_adam.pt filter=lfs diff=lfs merge=lfs -text
voices/am_echo.pt filter=lfs diff=lfs merge=lfs -text
voices/am_eric.pt filter=lfs diff=lfs merge=lfs -text
